@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />

<h1>Detalle de ticket</h1>
<br />
<form>

    <div style="display: flex; gap: 20px; align-items: center;">
        <div style="flex: 1;">
            <label for="nombreCliente">Nombre Cliente:</label>
            @Html.TextBox("nombreCliente", "", new { @class = "form-control", id = "nombreCliente" })
        </div>
        <div style="flex: 1;">
            <label for="asignar">Prioridad:</label>
            @Html.DropDownList("prioriid", ViewData["listadoDePrioridad"] as SelectList, "Asigne una prioridad", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="form-group row mb-4">
        <div class="col-sm-8">
            <div>
                @Html.Label("lblContacto", "Contacto")
            </div>
            <div>
                <div>
                    @Html.TextBox("contacto", "", new { @class = "form-control", @placeHolder = "Example:sunombre@gmail.com" })
                </div>
            </div>
            <br />
            <div>
                @Html.Label("lblDescripcion", "Descripción")
            </div>
            <div>
                <div>
                    @Html.TextArea("descripcion", "", new { @class = "form-control", @placeHolder = "Enter your question or message" })
                </div>
            </div>
            <br />
            <div style="flex: 1;">
                <label for="asignar">Estado:</label>
                @Html.DropDownList("estadosid", ViewData["listadoDeEstados"] as SelectList, "Asigne un estado", new { @class = "form-control" })
            </div>
            <br />
            <br />
            <div>
                @Html.Label("lblComentario", "Comentario:")
            </div>
            <div>
                <div>
                    @Html.TextArea("comentario", "", new { @class = "form-control", @placeHolder = "Enter your question or message" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group row mb-4">
        <div>
            @Html.Label("lblFecha", "Fecha:")
        </div>
        <div class="col-sm-4">
            <div>
                @Html.TextBox("fecha", "", new { @class = "form-control", @placeHolder = "yyyy/mm/dd" })
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <input type="submit" class="btn btn-dark" value="Guardar" />
    </div>

</form>
