@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@

@model IEnumerable<ProyectoSistemaTickets.ViewModels.TicketViewModel>
@{
    ViewBag.Title = "Detalle Ticket";
}



<br/> 

<br />

<h1>Detalle de ticket</h1>
<br />
<form>
    @foreach (var item in Model)
    {
        <div style="display: flex; gap: 20px; align-items: center;">
            <div>
                <label>Nombre:</label>
                @Html.TextBoxFor(modelItem => item.Nombre, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div>
                <label>Prioridad:</label>
                @Html.TextBoxFor(modelItem => item.NombrePrioridad, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <br />
        <div class="form-group row mb-4">
            <div class="col-sm-8">
                <div>
                    <label>Contacto</label>
                    @Html.TextBoxFor(modelItem => item.Contacto, new { @class = "form-control", @placeholder = "Example: sunombre@gmail.com", @readonly = "readonly" })
                </div>
                <br />
                <div>
                    <label>Descripción</label>
                    @Html.TextAreaFor(modelItem => item.Descripcion, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <br />
                <div>
                    <label>Estado:</label>
                    @Html.TextBoxFor(modelItem => item.Estado, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <br />
                <br />
                <div>
                    <label>Comentario</label>
                    @Html.TextAreaFor(modelItem => item.Comentario, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-group row mb-4">
            <div>
                <label>Fecha:</label>
            </div>
            <div class="col-sm-4">
                <div>
                    @Html.TextBoxFor(modelItem => item.FechaCrear, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <br />

    }

</form>
